.menu{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    place-items: center;
}

.gallery{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px;
}

.gallery img{
    width: 100%;
}

a{
    color: black;
    font-size: 48px;
    text-decoration: none;
}

a:hover{
    color: blue;
    text-decoration: underline;
}